.ou-first-section{
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ou-head{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 2rem;
}
.ou-heads{
    width: 25%;
}
.videos{
    /* s */
    /* height: 100vh; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.video{
    height: 270px;
    width: 480px;
    margin: 1rem;
    box-shadow: 0.5px 0.5px 1px grey;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.403);
    border-radius: 10px;
}
iframe{
    border-radius: 10px;
    transition: 0.5s, 0.3s, ease-in, 0.3s;
}
iframe:hover{
    box-shadow: 1px 1px 5px grey;
}